{% extends 'player.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'search.css' %}?{% now " U " %}"> 
{% endblock %}

{% block home %}
{% endblock %}

{% block search %}
active
{% endblock %}

{% block main %}
    <div class="homecontainer">
        {% for playlist in CONTAINER %}
        <div class="category">
            <div class="cardContainer">
                {% for card in playlist %}
                <div class="card c1">
                    <div class="albumcover">
                        <img class="albumimg" src="https://img.youtube.com/vi/{{ card.id }}/mqdefault.jpg" alt="" srcset="" onerror="handleThumbError(this)"></img>
                        <div class="albumplay" data-song-id="{{ card.id }}" data-song-title="{{ card.title|escape }}" data-song-channel="{{ card.channel|escape }}" onclick='playSongNew("{{ card.id }}","none",true,this)'><img
                            src="{% static 'play.png' %}"
                                alt=""></img></div>
                    </div>
                    <span class='label albumtitle bond-to-two-lines'>{{ card.title }}</span>
                    <span class='label albumauthor bond-to-two-lines'>By {{ card.channel }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
